@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="container pb-5 mb-md-2 mb-lg-4">
    <div class="row border-bottom">
        <div class="col">
            <h1 class=" pb-3">@ViewData["Title"]</h1>
        </div>
        <div class="col">
            <small class=" pb-3">Last Update: 16/10/2023 19:40</small>
        </div>
    </div>
    <div class="row mb-lg-2 d-flex justify-content-center">
        <div class="col-6 pb-lg-3 ">
            <p style="text-align:justify">Bem-vindo ao Old Barom, uma plataforma online para criar e gerenciar portfólios, equipes e projetos. A privacidade dos nossos usuários é fundamental para nós, e estamos comprometidos em proteger suas informações pessoais. Esta Política de Privacidade explica como coletamos, usamos e protegemos os dados que você nos fornece ao usar os serviços do OldBarom.</p>
            <h3>
                <strong>1. Informações que coletamos</strong>
            </h3>
            <p style="text-align:justify">
                <strong>
                    1.1. Informações de Registro:
                </strong>
                Ao criar uma conta no OldBaom, você nos fornece informações pessoais, como seu nome, endereço de e-mail e senha. Essas informações são necessárias para o uso dos nossos serviços.
            </p>
            <p style="text-align:justify">
                <strong>
                    1.2. Informações de Perfil:
                </strong>
                Você pode optar por fornecer informações adicionais em seu perfil, como uma foto de perfil, informações de contato e uma breve descrição. Essas informações são visíveis para outros usuários da plataforma.
            </p>
            <h3>
                <strong>2. Uso de informações</strong>
            </h3>       
            <p style="text-align:justify">Qualquer informação que coletamos de você pode ser usada para:</p>
            <ul>

            </ul>
        </div>
    </div>
</section>
